*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Source Serif Pro', serif;
    color: rgb(106, 107, 106);
    text-align: center;
}

body{
    width: 100%;
    height: 100vh;
}

.container{
    margin-top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.nav{
    display: flex;
    margin: auto;
    width: 40%;
    height: 100%;
    background-color: rgb(235, 235, 235);
}

.menu{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 80%;  
}

.pad{
    margin: auto;
    display: flex;
    flex: 1;
}

.padMenor{
    display: flex;
    flex-direction: column;
    flex: 0.5 !important;
}

h1{
    font-size: 30px;
    
}

textarea{
    flex: 1;
    height: 100%;
}

.titulo{
    margin: auto;
    font-size: 35px;
    font-weight: bolder;
}

.textosComuns{
    margin: auto;
    font-size: 25px;
}

.textosBotoes{
    font-size: 20px;
    font-weight: bolder;
}

.invisivel{
    color: rgb(235, 235, 235) ;
    margin: auto;
}

.input{
    margin: auto;
    height: 50px;
    width: 100px;
}


.padinter{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#result{
    margin: auto;
    height: 50%;
    
}

.margin{
    margin: auto;
}

@media(max-width:900px){
    .nav{
        display: flex;
        margin: auto;
        width: 90%;
        height: 100%;
        background-color: rgb(235, 235, 235);
    }
    #result{
        margin: auto;
        width: 80%;
        
    }
}
