*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Source Serif Pro', serif;
    color: rgb(106, 107, 106);
    text-align: center;
}

.container{
    margin-top: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.nav{
    display: flex;
    margin: auto;
    width: 500px;
    height: 100%;
    background-color: rgb(243, 241, 241);
}

.menu{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: rgb(243, 241, 241);
    margin: auto;
    width: 100%;
    height: 70%;
    

}

h1{
    font-size: 30px;
    
}

.input{
    
    height: 50px;
    width: 100px;
}

div{ 
    display: flex;
    font-size: 25px;
    
}

.pad {
    padding: 30px;
}


#result{
    display: flex;
    width: 350px;
    height: 100px;
    border: none;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.invisivel{
    color:rgb(243, 241, 241);
}



#result , .enviar , .input{
    padding: auto;
    font-size: 20px;
}
